<div>
  <div>
    <app-navbar header="" isUser="false" isLogoutButton="false"></app-navbar>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="login-area">
          <div class="pb-3">
            <h4>Login Of Registered users</h4>
          </div>
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <!-- User Name -->
            <div class="form-outline mb-4">
              <label for="email">User</label>
              <input type="email" name="user" id="user" ngModel class="form-control form-control-lg"
                placeholder="UserName" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label for="email">Password</label>
              <input type="password" name="pswd" id="pswd" ngModel class="form-control form-control-lg"
                placeholder="Password" />
            </div>
            <div class="d-flex justify-content-around align-items-center mb-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                <label class="form-check-label" for="form1Example3"> Remember Me </label>
              </div>
              <a href="#/forget">Have you forgetten your password</a>
            </div>
            <div class="d-grid gap-2 button-div">
              <button class="btn btn-primary mt-5 submit-btn" type="submit">Get Into</button>
            </div>
            <br>
            <div class="row message-row" *ngIf="emailVerificationMessage">
              <div class=" col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-danger" style="color:rgb(255, 102, 0);" >
                  Please Enter correct User ID and Password 
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 side-img-grid">
        <div class="side-image-area">
          <h4>Self-service Transactional Panel</h4>
          <img src="../../assets/login-side-image.png" alt="image" />
        </div>
      </div>
    </div>
  </div>
</div>