<div>
    <nav class="navbar navbar-expand-sm bg-light navbar-style">
        <div class="row" style="width: 100%;">
            <div class="col-md-4 col-lg-4">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/TCDLogo.JPG" alt="Logo" width="100" />
                </a>
            </div>
            <div class="col-md-4 col-lg-4 p-2 text-center">
                <h4>Main Menu</h4>
            </div>
            <div class="col-md-4 col-lg-4" >
                <ul class="navbar-nav ms-auto" style="float: right;">
                    <li class="nav-item ">
                        <a class="nav-link usericon" href="#">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link logoutButton" href="#">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="container-area">
        <div class="row">
            <div class="col-sm-12 p-2 rowid">
                    <a href="/landingPage" class="icons-area">
                        <span style="color:white;">ATM Managment</span>
                    </a>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col-sm-12 p-2 rowid">
                <a href="/landingPage" class="icons-area">
                    <span style="color:white;">Check Card Status</span>
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 p-2 rowid">
                <a href="/landingPage" class="icons-area">
                    <!-- <img src="./../../assets/POSLiquidacionLogo.png" alt="" width="40px" /> -->
                    <span style="color:white;">Reports and Queries</span>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="images">
        <img src="./../../assets/menu.png" width="50%" />
    </div>
</div>